@font-face {
  font-family: Gamer;
  src: url(fonts/gamer.ttf);
}

@font-face {
  font-family: Green Screen;
  src: url(fonts/greenscr.ttf);
}

@font-face {
  font-family: SFPixelate;
  src: url(fonts/sfpixelate.ttf);
}

@font-face {
  font-family: DisposableDroid;
  src: url(fonts/DisposableDroidBB.ttf);
}

@font-face {
  font-family: Roboto-Regular;
  src: url(fonts/Roboto-Regular.ttf);
}

html, body {
  font-family: Roboto-Regular;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
}

:root {
  --main-color: #5dd7d9;
  --events-color: #ff77d1;
  --projects-color: #edea63;
  --decal-color: #4757ed;
  --members-color: #58d885;
  --contact-color: #f7ba4a;
}


img.lab-image{
  padding-right:2%;
  height: 100%;
  width:auto;
}

.demo-card-square.mdl-card {
  width: 275px;
  height: 308px;

}
.demo-card-square > .mdl-card__title {
  color: #fff; 
  
}

.mdl-card__title-text{
  color:#f7f7f7 !important;
}

#sabrina {
  background: url('images/sabrina.jpg') bottom left 20% no-repeat #46B6AC;
  background-size: 430px

}
#gabby {
  background: url('images/gabby.jpg') bottom left 30% no-repeat #46B6AC;
  background-size: 310px
}
#tom {
  background: url('images/tom2.jpg') bottom 20% left 50% no-repeat #46B6AC;
  background-size: 285px
}
#ryan {
  background: url('images/ryan.jpg') top 10% left 50% no-repeat #46B6AC;
  background-size: 290px
}
#jennifer {
  background: url('images/jennifer.jpg') bottom left 40% no-repeat #46B6AC;
  background-size: 430px
}
#eric {
  background: url('images/eric.jpg') bottom left 80% no-repeat #46B6AC;
  background-size: 300px
}
#wes {
  background: url('images/wes.jpg') top 20% left 1% no-repeat #46B6AC;
  background-size: 420px
}
#adam {
  background: url('images/adam.jpg') bottom 90% left 50% no-repeat #46B6AC;
  background-size: 320px
}
#darren {
  background: url('images/darren.jpg') bottom 50% left 50% no-repeat #46B6AC;
  background-size: 420px
}
#weylan {
  background: url('images/weylan.jpg') bottom 70% left 40% no-repeat #46B6AC;
  background-size: 290px;
}
#christopher {
  background: url('images/christopher.jpg') bottom 50% left 30% no-repeat #46B6AC;
  background-size: 420px
}
#george {
  background: url('images/george.jpg') no-repeat #46B6AC;
  background-size: 285px;
}
#lucas {
  background: url('images/lucas.jpg') top 20% left 40% no-repeat #46B6AC;
  background-size: 350px;
}
#austin{
  background: url('images/austin.jpg') top left 20% no-repeat #46B6AC;
  background-size: 300px;
}

#title {
  font-family: DisposableDroid, sans-serif;
  font-weight: 700;
  font-size: 7rem;
  font-variant: small-caps;
  letter-spacing: 0.5rem;
  line-height: 5rem;
  color: #232323;
  margin-bottom: 0;
  text-align: center;
}

.mdl-layout__drawer {
  background: #232323 !important;
  border-color: #232323 !important;
  color: white !important;
  font-family:"saira condensed" !important;
}

.mdl-layout__drawer .mdl-navigation__link {
  transition-property: background, color;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

.mdl-layout__drawer .mdl-navigation__link:hover {
  background-color: #5dd7d9 !important;
  color: black !important;
}

.mdl-layout__title {
  color: white !important;
  font-family:"saira condensed" !important;
}

.page-content{
  padding-left: 10%;
  padding-right: 10%
}

.no-hover:hover{
  text-decoration:none;
}

#lab-list {
  height: 150px;
  padding:0px;
  margin: 1rem;
  text-decoration: none;
  background-color:#eafaff;
  transition-property: background-color;
  transition-duration: .03s;
  transition-timing-function: ease-in-out;

}

#lab-list:hover{
  background-color: rgba(153,153,153,0.2);
  text-decoration: none !important;
  cursor: pointer;
  
}

#sub-title {
  font-size: 4rem;
  font-weight: 900;
  font-family: DisposableDroid, sans-serif;
  color: #232323;
  text-align: center;
}

#desc {
  font-size: 2rem;
  font-family: "saira condensed", sans-serif;
  font-weight: 600;
  letter-spacing: 0.125rem;
  padding-top: 2rem;
  color: #6d6d6d;
  text-align: center;
}

#titlefont {
  font-family: "saira condensed";
  letter-spacing: 1.6px;
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 1);
}

#navfont{
  font-size: 1.5rem;
  color: rgba(255, 255, 255, .8);
  font-family: "saira condensed";
  letter-spacing: 1.4px;
}

#apply-menu-lower-right {
  border-radius: 8px; 
  font-family: "saira condensed"; 
  font-size: 22px; 
  letter-spacing: 1.6px;
  color: rgba(0, 0, 0, 0);
  transition-property: background color;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

#apply-menu-lower-right:active{
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0);
}

#hover-menu-lower-right:active{
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0);
}

#hover-menu-lower-right{
  border-radius: 8px; 
  font-family: "saira condensed"; 
  transition-property: background, color;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  font-size: 22px; 
  letter-spacing: 1.6px;
  z-index: 1000;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, .1);
}

#hover-menu-lower-right:hover {
  background-color: rgba(0, 0, 0, 0);
}

.toc {
    border-left: 4px solid #C1EEF4;
    margin: 24px;
    padding: 0;
    padding-left: 8px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

h4 {
    margin-bottom: 16px;
    font-size: 1.1rem;
    margin-top: 0;
}

.toc a {
    color: #4DD0E1;
    text-decoration: none;
    font-size: 16px;
    line-height: 28px;
    display: block;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;

}

strong {
  font-weight: 600 !important;
  color: #515151;
}

h6 {
  font-family: "saira condensed";
  color: #494949;
  font-weight: bold;
font-size: 1.6rem !important;
}

.mdl-menu__item:hover{
  text-decoration: none;
}

.section-title {
  color: #616161 !important; 
  font-family: 'saira condensed' !important;
  font-size: 2.5rem;
  font-weight: 100;

}

#navfont {
  transition-property: color, background;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  text-decoration: none;
}

#highlightfont {
  transition-property: color, background;
  transition-duration: .2s;
  
  transition-timing-function: ease-in-out;
  text-decoration: none;
  color: #f9e563;
  font-size: 1.5rem;
  font-family: "saira condensed";
  letter-spacing: 1.4px;
}

#highlightfont:hover {
  color: #fad163 !important;
  background-color: rgba(0, 0, 0, .13); 
  text-decoration: none;
}

#navfont:hover {
  color: rgba(255, 255, 255, 1) !important;
  background-color: rgba(0, 0, 0, .13); 
  text-decoration: none;
}

.background {
  position: absolute;
  width: 100%;
  opacity:.3;
  height: 100%;
  background-color: #F5F5F5;
  background-image: url(images/bluepixels3.png);
  background-size: auto 15rem;
  background-repeat: repeat-x; 
  background-attachment: fixed;
  z-index: -1;
  background-position-y: 44px;
}

.background.home {
  filter: hue-rotate(-25deg);
  opacity: .2;
}

.background.events {
  filter: hue-rotate(120deg);
}

.background.gamejams {
  filter: hue-rotate(-110deg);
}

.background.decal {
  filter: hue-rotate(30deg);
  opacity: .2;
}

.background.club {
  filter: hue-rotate(-60deg);
  opacity: .2;
}

.background.labs {
  filter: hue-rotate(-80deg);
  opacity: .2;
}

.background.projects {
  filter: hue-rotate(190deg);
  opacity: .2;
}

.highlight {
  color: var(--main-color);
}

.mdl-button__container {
  position: fixed !important;
  right: 32px !important;
  bottom: 32px !important;
}

* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(250,250,250);
    min-width: 137px;
    max-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: rgba(0, 0, 0, .2);}