@font-face {
  font-family: Gamer;
  src: url(fonts/gamer.ttf);
}

@font-face {
  font-family: Green Screen;
  src: url(fonts/greenscr.ttf);
}

@font-face {
  font-family: SFPixelate;
  src: url(fonts/SFPixelate.ttf);
}

@font-face {
  font-family: DisposableDroid;
  src: url(fonts/DisposableDroidBB.ttf);
}

@font-face {
  font-family: Roboto-Regular;
  src: url(fonts/Roboto-Regular.ttf);
}

html, body {
  font-family: Roboto-Regular;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
}

:root {
  --main-color: #5dd7d9;
  --events-color: #ff77d1;
  --projects-color: #edea63;
  --decal-color: #4757ed;
  --members-color: #58d885;
  --contact-color: #f7ba4a;
}


img.lab-image{
  padding-right:2%;
  height: 100%;
  width:auto;
}

.demo-card-square.mdl-card {
  width: 275px;
  height: 308px;

}
.demo-card-square > .mdl-card__title {
  color: #fff; 
  transition: all .3s linear 0s;
  
}

/*.demo-card-square > .mdl-card__title.show-info {
  filter: brightness(50%);
}*/

.mdl-card__title-text{
  position: absolute;
  bottom: 17%;
  left: 5%;
  right: 1%;
  color:#f7f7f7;
}
.mdl-card__title-text.description, .mdl-card__title-text.name{
  display: block;
  overflow: hidden;
  transition: height,width,opacity 500ms ease-in-out;
}
.mdl-card__title-text.name{height:auto; width:auto; opacity:1; }

.mdl-card__title-text.name.show-info{ height:0; width: 0; opacity:0; }

.mdl-card__title-text.description{height:0; width: 0; opacity:0; }

.mdl-card__title-text.description.show-info{
  color:rgb(255, 255, 255);
  height:auto; 
  width:auto; 
  font-size:14px; 
  opacity:1;
 }

#tom {
  background: url('images/tom2.jpg') bottom 20% left 50% no-repeat #46B6AC;
  background-size: 285px;
}
#jennifer {
  background: url('images/jennifer.jpg') bottom left 40% no-repeat #46B6AC;
  background-size: 430px;
}
#eric {
  background: url('images/eric3.jpg') no-repeat #46B6AC;
  background-size: 300px;
}
#weylan {
  background: url('images/weylan.jpg') bottom 70% left 40% no-repeat #46B6AC;
  background-size: 290px;
}
#lucas {
  background: url('images/lucas.jpg') top 20% left 40% no-repeat #46B6AC;
  background-size: 350px;
}
#austin{
  background: url('images/austin.jpg') top left 20% no-repeat #46B6AC;
  background-size: 300px;
}
#imon {
  background: url('images/imon.jpg') no-repeat #46B6AC;
  background-size: 275px;
}
#noone {
  background: url('images/eric2.png') no-repeat #46B6AC;
  filter: brightness(0.5);
  -webkit-filter: brightness(0.5);
  background-size: 300px;
}
#celine {
  background: url('images/celine.png') top 50% left 50% no-repeat #46B6AC;
  background-size: 450px;
}
#kponce {
  background: url('images/kponce.jpg') no-repeat #46B6AC;
  background-size: 300px;
}
#sean {
  background: url('images/sean.jpg') no-repeat #46B6AC;
  background-size: 300px;
}
#robert {
  background: url('images/robert.jpg') top 50% left 15% no-repeat #46B6AC;
  background-size: 300px;
}
#alexchan {
  background: url(images/alexchan.jpg) top 0 left 100% no-repeat #46B6AC;
  background-size: 450px;
}
#zhihan {
  background: url('images/zhihan.jpg') no-repeat #46B6AC;
  background-size: 300px;
}
#brian {
  background: url(images/brian.jpg) top 0 left 100% no-repeat #46B6AC;
  background-size: 510px;
}
#alexle {
  background: url('images/alex.jpeg') no-repeat #46B6AC;
  background-size: 300px;
}
#vera {
  background: url('images/vera.jpg') no-repeat #46B6AC;
  background-size: 300px;
}
#dalton {
  background: url('images/dalton.jpg') no-repeat #46B6AC;
  background-size: 300px;
}
#matthew {
  background: url('images/matthew.jpg') no-repeat #46B6AC;
  background-size: 300px;
}

#title {
  font-family: DisposableDroid, sans-serif;
  font-weight: 700;
  font-size: 7rem;
  font-variant: small-caps;
  letter-spacing: 0.5rem;
  line-height: 5rem;
  color: #232323;
  margin-bottom: 0;
  text-align: center;
}

.mdl-layout__drawer {
  background: #232323 !important;
  border-color: #232323 !important;
  color: white !important;
  font-family:"saira condensed" !important;
}

.mdl-layout__drawer .mdl-navigation__link {
  transition-property: background, color;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

.mdl-layout__drawer .mdl-navigation__link:hover {
  background-color: #5dd7d9 !important;
  color: black !important;
}

.mdl-layout__title {
  color: white !important;
  font-family:"saira condensed" !important;
}

.page-content{
  margin-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
}

.no-hover:hover{
  text-decoration:none;
}

#lab-list {
  height: 150px;
  padding:0px;
  margin: 1rem;
  text-decoration: none;
  background-color:#eafaff;
  transition-property: background-color;
  transition-duration: .03s;
  transition-timing-function: ease-in-out;

}

#lab-list:hover{
  background-color: #dae8ed;
  text-decoration: none !important;
  cursor: pointer;
  
}

#sub-title {
  font-size: 4rem;
  font-weight: 900;
  font-family: DisposableDroid, sans-serif;
  color: #232323;
  text-align: center;
}

#desc {
  font-size: 2rem;
  font-family: "saira condensed", sans-serif;
  font-weight: 600;
  letter-spacing: 0.125rem;
  padding-top: 2rem;
  color: #6d6d6d;
  text-align: center;
}

#titlefont {
  font-family: "saira condensed";
  letter-spacing: 1.6px;
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 1);
}

#navfont{
  font-size: 1.5rem;
  color: rgba(255, 255, 255, .8);
  font-family: "saira condensed";
  letter-spacing: 1.4px;
}

#apply-menu-lower-right {
  border-radius: 8px; 
  font-family: "saira condensed"; 
  font-size: 22px; 
  letter-spacing: 1.6px;
  color: rgba(0, 0, 0, 0);
  transition-property: background color;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

#apply-menu-lower-right:active{
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0);
}

#hover-menu-lower-right:active{
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0);
}

#hover-menu-lower-right{
  border-radius: 8px; 
  font-family: "saira condensed"; 
  transition-property: background, color;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  font-size: 22px; 
  letter-spacing: 1.6px;
  z-index: 1000;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, .1);
}

#hover-menu-lower-right:hover {
  background-color: rgba(0, 0, 0, 0);
}

.toc {
    border-left: 4px solid #C1EEF4;
    margin: 24px;
    padding: 0;
    padding-left: 8px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

h4 {
    margin-bottom: 16px;
    font-size: 1.1rem;
    margin-top: 0;
}

.toc a {
    color: #4DD0E1;
    text-decoration: none;
    font-size: 16px;
    line-height: 28px;
    display: block;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;

}

strong {
  font-weight: 600 !important;
  color: #515151;
}

h6 {
  font-family: "saira condensed";
  color: #494949;
  font-weight: bold;
font-size: 1.6rem !important;
}

.mdl-menu__item:hover{
  text-decoration: none;
}

.section-title {
  color: #616161 !important; 
  font-family: 'saira condensed' !important;
  font-weight: 100;

}

h1.section-title{
  font-size: 3rem;
}

h2.section-title{
  font-size: 2rem;
}

.event{
  color: #806677;
  background-color: #ffdff4;
  text-align: center;
  font-family: 'saira condensed';
  font-weight: 75;
  border: 1px solid #ff77d1;
  border-radius: 5px;

}

a > .event:hover{
  background-color: #c7b9c2;
}

.event-main{
  font-size: 2rem;
}

.event-sub{
  background-color: #fdeff8;
  font-size: 1.25rem;

}



#calendar {
  margin-bottom: 20px;
}

#navfont {
  transition-property: color, background;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  text-decoration: none;
}

#highlightfont {
  transition-property: color, background;
  transition-duration: .2s;
  
  transition-timing-function: ease-in-out;
  text-decoration: none;
  color: #f9e563;
  font-size: 1.5rem;
  font-family: "saira condensed";
  letter-spacing: 1.4px;
}

#highlightfont:hover {
  color: #fad163 !important;
  background-color: rgba(0, 0, 0, .13); 
  text-decoration: none;
}

#navfont:hover {
  color: rgba(255, 255, 255, 1) !important;
  background-color: rgba(0, 0, 0, .13); 
  text-decoration: none;
}

.background {
  position: absolute;
  width: 100%;
  opacity:.3;
  height: 100%;
  background-color: #F5F5F5;
  background-image: url(images/bluepixels3.png);
  background-size: auto 15rem;
  background-repeat: repeat-x; 
  background-attachment: fixed;
  z-index: -1;
  background-position-y: 44px;
}

.background.home {
  filter: hue-rotate(-25deg);
  opacity: .2;
}

.background.games {
  filter: hue-rotate(-85deg);
  opacity: .2;
}

.background.events {
  filter: hue-rotate(120deg);
}

.background.gamejams {
  filter: hue-rotate(-110deg);
}

.background.decal {
  filter: hue-rotate(30deg);
  opacity: .2;
}

.background.club {
  filter: hue-rotate(-60deg);
  opacity: .2;
}

.background.labs {
  filter: hue-rotate(-80deg);
  opacity: .2;
}

.background.projects {
  filter: hue-rotate(190deg);
  opacity: .2;
}

.background.staff {
  filter: hue-rotate(140deg);
  opacity: .2;
}

.highlight {
  color: var(--main-color);
}

.mdl-button__container {
  position: fixed !important;
  right: 32px !important;
  bottom: 32px !important;
}

* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(250,250,250);
    min-width: 137px;
    max-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: rgba(0, 0, 0, .2);}

.info-button {
  height: 110%;
  font-family: sfPixelate;
  color: white;
  font-size: 90%;
  text-align:center;
  background-image:url('images/button.png');
  background-size: 100% 100%;
  background-repeat:no-repeat;
  border: none;
  background-color:transparent;
  float: right;
  margin-right: 10%;
}

.info-button:focus {
  outline:none;
}

/*
.info-button:hover {
  filter: contrast(120%);
}

.info-button:active {
  filter: brightness(70%);
}*/

#smlinks {
  list-style: none;
  padding: 0;
  width: 100%;
  order: 3;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

#smlinks li {
  display: inline-block;
  margin: 10px 10px;
}